<section>
    <div class="popup hide">
        <div class="popup-msg">
            <!-- <img src="assets/netgar_popup.png"> -->
            <p name="header">FITXA DE COORDINACIÓ D'ACTIVITATS EMPRESERIALS | Carrer Terrasa, 31, 17800 Olot</p>
            <div class="blue_section">
                <h1>MESURES DE PREVENCIÓ I SEGURETAT A LES INSTAL·LACIONS | NETEGRES GARROTXA, SL</h1>
                <p>Reial decret 171/2004, de 30 gener, pel qual es desenvolupa l'article 24 de la Llei 31/1995, de 8 de novembre, de Prevenció de Riscos Laborals, en matèria de coordinació d'activitats empresarials.</p>
            </div>
            <p name="intro">Sobre la base del Reial decret 171/2004, de 30 gener, pel qual es desenvolupa l'article 24 de la Llei 31/1995, de 8 de novembre, de Prevenció de Riscos Laborals, en matèria de coordinació d'activitats empresarials, s'informa de les següents mesures i normes de seguretat en les instal·lacions:</p>
            <ul>
                <li>Queda prohibit fer ús de la diferent maquinaria present al centre de treball sense estar format de forma especifica en matèria de PRL per el seu ús i haver esta autoritzat per a l'empresa: Plataformes Elevadores, Carretons...</li>
                <li>Està prohibit fumar de tot el recinte.</li>
                <li>No córrer per les escales del centre de treball.</li>
                <li>Cal fer ús en tot moment dels equips de protecció indivicual per a les tasques a realitzar: calçat de seguretat, guants de seguretat, proteccions auditives si es realitzen treballs amb radials, amoladores, etc...</li>
                <li>No manipular productes de neteja que es poden trobar al centre de treball.</li>
                <li>No es podrà realitzar treballs en alçada (PEMP, treballs en bastides, sostres, etc...) sense disposar de la formació especifica en matèria de PRL ni disposar dels equips de protecció individuals adients per a la realització dels treballs.</li>
                <li>En cas de detectar qualsevol situació de risc o patir un accident laboral, s'haurà de comunicar-lo immediatament al personal de l'empresa.</li>
                <li>Les maquines o equips de treball que es facin servir per a qualsevol treball hauran de disposar CE i mantenir tots els sistemes i proteccions.</li>
                <li>No ubicar-se mai darrera de cap vehicle. Sempre mantenir un contacte visual amb l'operari/a de l'equip.</li>
                <li>No córrer per les instal·lacions.</li>
                <li>En cas de detectar qualsevol conat d'incendi, avisar immediatament al personal de l'empresa. Si es requereix una evacuiació de les instal·lacions caldrà dirigir-se obligatoriament al punt de trobada.</li>
            </ul>
            <img src="assets/img.png">
            <div class="checkbox">
                <input type="checkbox" #input_accept>
                <p>Accepto les condicions</p>
            </div>
            <button (click)="acceptForm(second_btn, input_accept)" #second_btn>ACCEPTAR</button>
        </div>

    </div>
    <div class="form">
        <img src="assets/logo.png"> 
        <!-- <h1>Lorem Ipsum</h1> -->
        <div class="in-line">
            <div class="input-box short dni" #input_box_dni>
                <p>DNI</p>
                <input type="text" #input_dni (focus)="focus(input_box_dni)" (blur)="blur(input_box_dni, input_dni.value)">
            </div>
            <div class="input-box long" #input_box_name>
                <p>Nom i Cognom</p>
                <input type="text" #input_name (focus)="focus(input_box_name)" (blur)="blur(input_box_name, input_name.value)">
            </div>
        </div>
        <div class="input-box short" #input_box_tel>
            <p>Telefon</p>
            <input type="number" #input_tel (focus)="focus(input_box_tel)" (blur)="blur(input_box_tel, input_tel.value)">
        </div>
        <div class="input-box long" #input_box_emp>
            <p>Empresa</p>
            <input type="text" #input_emp (focus)="focus(input_box_emp)" (blur)="blur(input_box_emp, input_emp.value)">
        </div>
        <select #select>
            <option>Visita</option>
            <option>Entrevista</option>
            <option>Treball</option>
        </select>
        <p class="accept_info">Les dades que ens facilita en aquest formulari passaran a formar part de  NETEGES GARROTXA, S.L.  amb la finalitat de complir amb la normativa de  Prevenció de Riscos Laborals. Les seves dades no seran cedides a tercers, sempre que no hi hagi un imperatiu legal.
            Totes les dades personals recopilades seran conservades seguint les directrius de les normatives vigents.
            De qualsevol dels apartats anterior, pot exercir els seus drets d'accés, rectificació, limitació, supressió, i oposició, i sol.licitar informació addicional, indicant-ho per escrit a NETEGES GARROTXA, S.L.  C/Terrassa 31, 17800 OLOT o per correu electrònic a: netgar@netgar.com.   (Reglament (UE) 2016/679 del Parlament Europeu i del Consell de 27 d'abril de 2016 i Llei  Orgànica 3/2018, de 5 de desembre, de Protecció de Dades  Personals i garantia de drets digitals).
        </p>
        <label class="error">abc</label>
        <button #btn_submit (click)="submitForm(btn_submit, input_dni.value, input_tel.value, input_name.value, input_emp.value, select.value)">acceptar</button>
    </div>
</section>
