<section>
    <div class="popup hide">
        <div class="popup-msg">
            <!-- <img src="assets/netgar_popup.png"> -->
            <p name="header">ARCHIVO DE COORDINACIÓN DE ACTIVIDADES EMPRESARIALES | Carrer Terrasa, 31, 17800 Olot</p>
            <div class="blue_section">
                <h1>MESURAS DE PREVENCIÓN Y SEGURIDAD EN LAS INSTALACIONES | NETEGRES GARROTXA, SL</h1>
                <p>Reial decreto 171/2004, de 30 Enero, por el cual se desarrolla el articulo 24 de la Lei 31/1995, de 8 de Noviembre, de Prevención de Riesgos Laborales, en matèria de coordinación de actividades empresariales.</p>
            </div>
            <p name="intro">Sobre la base del Reial decreto 171/2004, de 30 Enero, por el cual se desarrolla el articulo 24 de la Lei 31/1995, de 8 de Novembre, de Prevención de Riesgos Laborales, en matèria de coordinación de actividades empresariales, se informa de les siguientes mesuras y normas de seguridad en les instalaciones:</p>
            <ul>
                <li>Queda prohibido el uso de la distinta maquinaria presente en el centro de trabajo sin estar formado de forma especifica en matéria de PRL para su uso y haber estado autorizado por la empresa: Plataformas Elevadoras, Carretones...</li>
                <li>Está prohibido fumar en todo el recinto.</li>
                <li>No correr por las escaleras del centro de trabajo.</li>
                <li>Se requiere hacer uso en todo momento de los equipos de protección individual para las tareas a realizar: calzado de seguridad, guantes de seguridad, protecciónes auditivas si se realizan trabajos con radiales, amoladoras, etc...</li>
                <li>No manipular productos de limpieza que se pueden encontrar en el centro de trabajo.</li>
                <li>No se podran realizar trabajos en alzada (PEMP, trabajos en andamios, techos, etc...) sin disponer de la formación específica en matéria de PRL ni disponer de los equipos de protección individual adientes para la realización de los trabajos.</li>
                <li>En caso de detectar cualquier situación de riesgo o sufrir un accidente laboral, habra que comunicarlo inmediatamente al personal de la empresa.<li>
                <li>Las màquinas o equipos de trabajo que se utilicen para cualquier trabajo tendran que disponer CE y mentener todos los sistemas y protecciones.</li>
                <li>No ponerse jamás detrás de ningún vehiculo. Siempre mantener un contacto visual con el operario/a del equipo.</li>
                <li>No correr por las instalaciones.</li>
                <li>En caso de detectar cualquier conato de incendio, avisar inmediatamente al personal de la empresa. Si es requerido una evacuación de las instalaciones caldrá dirigirse obligatoriamente al punto de encuentro.</li>
            </ul>
            <img src="assets/img.png">
            <div class="checkbox" (click)="checkboxSetActive(input_accept)">
                <div class="box" #input_accept><i class="fa-solid fa-check"></i></div>
                <p>Acepto las condiciones</p>
            </div>
            <button (click)="acceptForm(second_btn, input_accept)" #second_btn>ACCEPTAR</button>
        </div>

    </div>
    <div class="form">
        <img src="assets/logo.png"> 
        <div class="in-line">
            <div class="input-box short dni" #input_box_dni>
                <p>DNI</p>
                <input type="text" #input_dni (focus)="focus(input_box_dni)" (blur)="blur(input_box_dni, input_dni.value)">
            </div>
            <div class="input-box long" #input_box_name>
                <p>Nombre y apellidos</p>
                <input type="text" #input_name (focus)="focus(input_box_name)" (blur)="blur(input_box_name, input_name.value)">
            </div>
        </div>
        <div class="input-box short tel" #input_box_tel>
            <p>Teléfono</p>
            <input type="number" #input_tel (focus)="focus(input_box_tel)" (blur)="blur(input_box_tel, input_tel.value)">
        </div>
        <div class="in-line emp-checkbox" #emp_checkbox_box>
            <div class="checkbox-option" (click)="visitType(input_box_emp, emp_checkbox_box, empresa, 'empresa')">
                <div class="box" #empresa><i class="fa-solid fa-check"></i></div>
                <p>Empresa</p>
            </div>
            <div class="checkbox-option" (click)="visitType(input_box_emp, emp_checkbox_box, particular, 'particular')">
                <div class="box" #particular><i class="fa-solid fa-check"></i></div>
                <p>Particular</p>
            </div>
        </div>
        <div class="input-box long hide" #input_box_emp>
            <p>Empresa</p>
            <input type="text" #input_emp (focus)="focus(input_box_emp)" (blur)="blur(input_box_emp, input_emp.value)">
        </div>
        <select #select>
            <option>Visita</option>
            <option>Entrevista</option>
            <option>Trabajo</option>
        </select>
        <p class="accept_info">Los datos que nos facilita en este formulario pasaran a formar parte de NETEGES GARROTXA, S.L. con la finalidad de cumplir con la normativa de Prevención de Riscos Laborales. Sus datos no serán cedidas a terceros, siempre que no haiga un imperativo legal.
            Todos los datos personales recopilados seran conservados siguiendo las directivas de las normativas vigentes.
            De cualquiera de los apartados anteriores, puede ejercer sus derechos de acceso, rectificación, limitación, supressión y oposición y sol·licitar información adicional indicandolo por escrito a NETEGES GARROTXA S.L. C/Terrassa 31, 17800 OLOT o por correo electrónico a: netgar@netgar.com. (Reglamento (UE) 2016/679 del Parlamento Europeo y del Consejo de 27 de Abril de 2016, Lei Orgànica 3/2018, de 5 de Diciembre de Protección de Datos Personales y garantia de derechos digitales).
        </p>
        <label class="error"></label>
        <button #btn_submit (click)="submitForm(btn_submit, input_dni.value, input_tel.value, input_name.value, input_emp.value, select.value)">aceptar</button>
    </div>
</section>
